/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* Fuente de google fonts que puse en HTML */
    font-family: "Open Sans", sans-serif;
    color: #2D3436;
    background-color: #F4F6F8;
}

/* limitación que me faltaba q-q no sé pq no estaba */


header,main{
    max-width: 1350px;  
    width: 100%;
    margin: 0 auto;
}


.top-banner{
    background-color: #6C5CE7;
    text-align: center;
    padding: 6px 10px;
    font-size: 14px;
    color: #FFFFFF;
}

#navegacion{ 
    padding: 25px 35px;
    background-color: #6C5CE7;
    color: #FFFFFF;
    max-width: 1350px; /*para que combine con el max-width en general de todo*/
    margin: 0 auto; /*revisar esto */
    position: sticky; 
    /* ya no static, ya es stickuy */
    top: 0;/*queremos que se quede pegado en la parte de arriba, le ponemos top 0 porque 0 es el elemento padre*/
    z-index: 1000; 
    /* El z-index se pone lo mas alto posible para qu NADA se superponga al nav */
    


    /* Agregando flexbox */
    /* como es contenedor padre de toda nuestra barra de navegacion haecmos */
    display: flex;
    /* quiero que el contenedor se vuelva flexible, las cosas como el h1 o el li ahora se van hacia la derecha */
    justify-content: space-between; /*alineacion eje principal (horizontal)*/
    align-items: center;/*alineacion eje cruzado (vert)*/
    flex-wrap: wrap; /*permite salto de linea para pantallas pequeñas*/
}

#logo{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 10%; 
}
#logo-img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


.buscar-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}
#buscar-input{
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50px;
    border: none;
}
#buscar-boton{
    background: none;
    border: none;
    background-color: #5543e0;
    width: auto;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px;
}
#buscar-boton:hover{
    background-color: #4330d4;
}
#buscar-imagen{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.navegacion-lista{
    list-style-type: none;
    /* vuelvo flexible al contenedor padre */
    display: flex; 
    gap: 20px;
    align-items: center;

}


.navegacion-lista a{
    color: #FEFEFE;
    text-decoration: none;
    transition: .25s;
}

.navegacion-lista a:hover{
    color: #8fc7ff;
    
}

#video-contenedor{
    display: flex;
    justify-content: center;
    height:  80vh;
    position: relative;
}

#video-grisaceo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-texto{
    margin: 0 21%;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
}

#video-tienda{
    height: 100%;
}



/* Espaciado para que no quede todo junto */
section{
    margin: 25px 20px;
}

.catalogo-contenedor{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.producto-tarjeta{
    background-color:#FFFFFF;
    border-radius: 20px;
    text-align: center;
    margin:35px;
    
    overflow: hidden;
    box-shadow: 7px 10px 15px rgba(0,0,0,0.15);
    transition: box-shadow .25s ease,transform .25s ease ;

    padding-bottom: 15px;
    box-shadow: 0px;
    /* Se pone position relative para que la badge absoluta se meta adentro */
    position: relative;

    flex: 1 1 240px;
    /* ocupa minimo 240px en lo que pueda encoger o crecer */
}
.producto-tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 5px 6px 7px rgba(0,0,0,0.15);
    background-color: rgb(164, 249, 255);
    transition: .25s;
}




.producto-img{
    /* creo que esto es para que tome todo 
    el tamaño de la tarjeta */
    width: 100%; 
    height: 200px;
    padding: 30px;
    background-color: #fefefe;

    /* object-fit solo es para imagenes
    
    cover:va a cubrir toda la cubierta sin importar de que este
    lo corta */
    object-fit: contain;
    
}

.producto-titulo{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 15px 0 15px;
}

.producto-info{
    font-size: 14px;
    color: blueviolet;
    padding:10px 0px;
}

/* este para que se puedan poner a la par producto precio y el descuento */
.producto-precios-div{
    display: flex;
}

.producto-descuento{
    color: red;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.producto-precio{
    color: #6C5CE7;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    font-size: 23px;
}
.producto-precio-anterior{
    display: flex;
    font-size: 15px;
    margin: 5px 0px 15px 15px;
    color: rgb(80, 79, 79);
}

.producto-btn{
    width: 70%;

    background-color: green;
    color: whitesmoke;
    border: none;
    /* aqui si es recomendable poner un padding pq
    no tiene mucho espacio  */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    
    
    
    /* esto es para que el hover se vea un 
    poquito más lento de animación */
    transition:0.3s; 

}

.producto-btn:hover{
    background-color: #6C5CE7;
}


.producto-badge{
    position: absolute;
    background-color: #FF7675;
    top: 10px;
    left: 10px;
    padding: 5px 12px;
    border-radius: 15px;
    color: white;
}



/* Sección de equipo */

.equipo-section{
    text-align: center;
    padding: 40px 25px;
}
.equipo-section h2{
    margin-bottom: 15px;
}
.equipo-section p{
    margin: 0 auto 20px;
    /* poner maximo de texto con max-width */
    max-width: 700px; 

}

.equipo-contenedor{
    /* ponerlo horizontal com flex */
    display: flex;

    /* ponerlo que se vayan hacia abajo */
    flex-wrap: wrap;

    justify-content: center;

    /* espacio entre tarjetas */
    gap: 40px;

    margin-top: 20px;
}

.equipo-card{
    background-color: #eea1a1;
    width: 280px;
    padding: 60px 20px 30px ;
    border-radius: 30px;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.25);
    text-align: center;
    /* flexbox interno de la tarjeta */
    display: flex;
    /* no quiero que esté como row por default, sino como column */
    flex-direction: column;
    /* centrarlo de forma interna tmb */
    align-items: center;

    /* esto es para hacer el circulito arriba, el padre debe ser relative */
    position: relative;
    margin-top:100px
}

.equipo-foto{

    width: 140px;
    height: 140px;
    /* para no deformar la imagen: */
    object-fit: cover;

    /* hacerla circular */
    border-radius: 50%;
    border: 5px solid white;

    /* esto para moverlo arriba */
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.equipo-titulo{
    margin-top: 15px;
    color: white;
    font-size: 19px;
}

.equipo-rol{
    font-size: 14px;
    color: #2d3436;
    margin: 5px;
}


.equipo-descripcion{
    font-size: 14px;
    color: #000000;
    margin: 5px;
    line-height: 1;

}



/* botón flotante posicion fixed */

.boton-carrito{
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: rgb(37, 116, 116);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    
    /* transition para el hover */
    transition: .2s ease;

    bottom: 13px;
    right: 25px;
    position: fixed;

    /* se pone el z index para que se pueda visualizar FRENTE DE TOD */
    z-index: 1500;
    cursor: pointer;
}
.boton-carrito:hover{
    background-color: rgb(28, 90, 90);

}

.boton-subir{
    width: 50px;
    height: 50px;
    background-color: rgb(37, 116, 116);
    display: block;
    border-radius: 30px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.25);
    transition: .2s;
    bottom: 13px;
    left: 25px;
    z-index: 1500;
    position: fixed;
    cursor: pointer;
}

.boton-subir:hover{
    background-color: rgb(28, 90, 90);

}

#img-boton-subir{
    width: 80%;
    height: 80%;
    margin-left: 5px;
    margin-top: 2px;
    object-fit: cover;
}



/* Parte de contacto o formulario */

#contacto{
    display: flex;
    gap:20px;
    align-items: flex-start;
    flex-wrap: wrap;

    border-radius: 30px;
    padding-left: 100px;
    padding-bottom: 20px;

}


.contacto-info{
    margin-bottom: 30px;
}
/* el flex-grow en 1 y flex shrin en 1, flex basis en 270px
en todo caso, 1 es q crezca normal o se encoja normal, entonces 1 - 1 es
para que crezcan y se encojan de igual forma los elementos
*/
.contacto-info,
.contacto-form-div{
    flex: 1 1 280px;
}




.contacto-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    background-color: #2D3436;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.contacto-form input {
    height: 40px;
    width: 320px;
    border-radius: 15px;
    border: none;
    padding: 10px;
}
#solicitud{
    width: 320px;
    height: 90px;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

.contacto-form button{
    height: 40px;
    width: 320px;
    border-radius: 90px;
    background-color: #6C5CE7;
    border: none;
    color: white;
    
}
.contacto-form button:hover{
    background-color: #6d4c41
}




/* pie de pagina */
footer{
    background-color: #2d3436;
    color: #FEFEFE;
    padding: 25px 20px;
}
/* lista y enlaces de footer */
.footer-lista{
    list-style-type: none;
    font-size: 16px;
}

.footer-lista a{
    text-decoration: none;
    color: #FEFEFE;
    transition: .25s;
}

.footer-lista a:hover{
    color: #6C5CE7;
    
}

#footer-copyright{
    text-align: center;
    font-size: 18px;
}



/* el diseño responsivo: va al final x lo general */

/* laptop mediana */
@media screen and (max-width:1024px) {
    #navegacion{
        padding: 12px 16px;
    }
    .producto-tarjeta{
        /* se vea mas grande la tarjeta */
        flex: 1 1 260px;
    }
    .equipo-card{
        /* lo hago mas pequeño para que se vea bien */
        width: 260px;
    }
}

@media screen and (max-width:768px) {
    /* hacer u npoco mas grande el banner */
    .top-banner{
        font-size: 18px;
        padding: 8px 12px;
    }
    /* se pone en medio para que quepa mejor */
    #navegacion{
        justify-content: center;
        gap:12px;
        padding: 12px 14px;
    }
    
    #logo{
        width: 30%;
    }

    /* se pase hacia abajo la lista */
    .navegacion-lista{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap:12px 16px;
        font-size: 18px;

    }
    .producto-precios-div{
        flex-wrap: wrap;
    }
    .producto-btn{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    #contacto{
        padding-left: 0;
    }
    #footer{
        padding-bottom: 80px;
    }

}
