/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    /* Fuente de google fonts que puse en HTML */
    font-family: "Open Sans", sans-serif;
    color: #2D3436;
    background-color: #F4F6F8;
}

/* limitación que me faltaba q-q no sé pq no estaba */


header,main{
    max-width: 100vw;  
    margin: 0 auto;
}


.top-banner{
    background-color: #e60012;
    text-align: center;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

#navegacion{ 
    padding: 10px 35px;
    background-color: #FFFFFF;
    max-width: 100vw; /*para que combine con el max-width en general de todo*/
    margin: 0 auto; /*revisar esto */
    position: sticky; 
    /* ya no static, ya es stickuy */
    top: 0;/*queremos que se quede pegado en la parte de arriba, le ponemos top 0 porque 0 es el elemento padre*/
    z-index: 1000; 
    /* El z-index se pone lo mas alto posible para qu NADA se superponga al nav */
    


    /* Agregando flexbox */
    /* como es contenedor padre de toda nuestra barra de navegacion haecmos */
    display: flex;
    /* quiero que el contenedor se vuelva flexible, las cosas como el h1 o el li ahora se van hacia la derecha */
    justify-content: space-between; /*alineacion eje principal (horizontal)*/
    align-items: center;/*alineacion eje cruzado (vert)*/
    flex-wrap: wrap; /*permite salto de linea para pantallas pequeñas*/
}

#logo{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 5%; 
}
#logo-img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


.navegacion-lista{
    list-style-type: none;
    /* vuelvo flexible al contenedor padre */
    display: flex; 
    gap: 20px;
    align-items: center;

}


.navegacion-lista a{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: .25s;
}

.navegacion-lista a:hover{
    color: #e60012;
    
}



.buscar-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin-right: 10%;
}
#buscar-input{
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    border: 2px #000000 solid;
}
#buscar-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    background-color: #e60012;
    width: 50px;
    cursor: pointer;
    padding: 6px;
    border: 2px solid #000000;
}
#buscar-boton:hover{
    transition: ease .60s;
    background-color: #940410;
}
#buscar-imagen{
    width: 25px;
    height: 25px;
    object-fit: cover;
}

#video-contenedor{
    display: flex;
    justify-content: center;
    height:  80vh;
    position: relative;
}

#video-grisaceo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-texto{
    margin: 0 21%;
    color: #000000;
    padding: 15px 30px;
    background-color: #FEFEFE;
    font-size: 50px;
    border: 4px black solid;
    font-weight: bold;
    box-shadow: 10px 10px 0px rgb(255, 0, 0);
}



#video-tienda{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Espaciado para que no quede todo junto */
section{
    background-color: white;
    margin: 30px 20px;
    padding: 25px;
    text-align: center; 
}

section h2{
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 900;
}

section h2:hover{
    text-decoration: underline red;
    text-decoration-thickness: 5px;
}

section p{
    font-size: 20px;
}

.catalogo-contenedor{

    margin: 2%;
}
.catalogo-contenedor h3{
    font-size: 25px;
    font-weight: 900;
}

.catalogo-productos{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.catalogo-categorias{

    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;


}
.catalogo-categoria{
    cursor: pointer;
    padding: 20px;
    border: 4px solid black;
    margin: 20px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 7px 10px 0px;
    transition: box-shadow .25s ease,transform .25s ease ; 
}
.catalogo-categoria:hover{
    transition: .25s ease;
    box-shadow: 10px 10px 0px rgb(255, 0, 0);
    transform: translate(-2px, -2px);
}
.catalogo-categoria-texto{
    font-weight: 900;
}



.producto-tarjeta{
    background-color:#FFFFFF;
    text-align: center;
    margin:35px;
    
    overflow: hidden;
    border: 4px solid #000000;
    box-shadow: 7px 10px 0px #000000;
    transition: box-shadow .25s ease,transform .25s ease ; 

    padding-bottom: 15px;
    /* Se pone position relative para que la badge absoluta se meta adentro */
    position: relative;

    flex: 1 1 240px;
    /* ocupa minimo 240px en lo que pueda encoger o crecer */
}
.producto-tarjeta:hover{
    transform: translateY(-10px);
    box-shadow: 10px 10px 0px #e60012;
    transition: .25s ease;
}




.producto-img{
    /* creo que esto es para que tome todo 
    el tamaño de la tarjeta */
    width: 100%; 
    height: 200px;
    padding: 30px;
    background-color: #fefefe;
    border-bottom: 4px solid black;
    /* object-fit solo es para imagenes
    
    cover:va a cubrir toda la cubierta sin importar de que este
    lo corta */
    object-fit: contain;
    
}

.producto-titulo{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 15px 0 15px;
}

.producto-info{
    font-size: 14px;
    color: #940410;
    padding:10px 0px;
    margin: 5px;
}

/* este para que se puedan poner a la par producto precio y el descuento */
.producto-precios-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto-descuento{
    color: red;
    font-size: 25px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.producto-precio{
    color: #e60012;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
    font-size: 23px;
}
.producto-precio-anterior{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: 5px 0px 15px 15px;
    color: rgb(80, 79, 79);
}

.producto-btn{
    width: 70%;

    background-color: #e60012;
    color: whitesmoke;
    border: 3px solid black;
    /* aqui si es recomendable poner un padding pq
    no tiene mucho espacio  */
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    
    /* esto es para que el hover se vea un 
    poquito más lento de animación */
    transition:0.3s; 

    font-size: medium;
    font-weight: 700;
}

.producto-btn:hover{
    background-color: #000000;
}


.producto-badge{
    position: absolute;
    background-color: #000000;
    top: 0px;
    left: 0px;
    padding: 6.5px 12px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}


/* seccion de compra */
#compra{

}
.compra-contenedor{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.compra-imagen{
    align-items: center;
    margin-right: 25px;
    flex: 0 0 auto;
}

#compra-img{
    box-shadow: 6px 6px 0px #000000;
    width: 100%;
    max-width: 600px;
}
#compra-img:hover{   
    transform: translate(-2px,-2px);
    transition: .35s ease;
    box-shadow: 6px 6px 0px #e60012;
}

.compra-pasos{
    
    flex: 1 1 300px;
}
#compra-lista{
}
.compra-paso{
    text-align: justify;
    margin: 20px;
    font-size: 17px;
}
.compra-paso b{
    color: #940410;
}



.lista-contenedor{
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.lista-contenedor-imagen{
    width: 80px;
    object-fit: contain;
}
.lista-contenedor-imagen:hover{
    border-bottom: 4px red solid;
    transition: .2s ;
}




/* Sección de sobre nosotros */

.sobre-contenedor{
    display: flex;
    flex-wrap: wrap;
}

.sobre-contenedor-imagen{
    margin: 30px;
    display: flex;
    flex: 0 0 auto;

}
#sobre-imagen{
    box-shadow: 6px 6px 0px #000000;
    width: 100%;
    max-width: 600px;
    object-fit: cover;
}

#sobre-imagen:hover{   
    transform: translate(-2px,-2px);
    transition: .35s ease;
    box-shadow: 6px 6px 0px #ffb7c5;
}

.sobre-textos{
    flex: 1 1 300px;
    margin:30px;
    text-align: justify;
}
.sobre-texto{
    padding-bottom: 20px;
    font-size: large;
}
.hoshi{
    color: #bbbb00;
}


.equipo{
    background-color: rgb(44, 44, 39);
    text-align: center;
    width: 35rem;
    margin: 10rem 0 0 10rem;
    border-radius: 1rem;
    color: white;
    
}

.equipo-section{
    text-align: center;
    padding: 40px 25px;
}
.equipo-section h2{
    margin-bottom: 15px;
}
.equipo-section p{
    margin: 0 auto 20px;
     /* poner maximo de texto con max-width  */
    max-width: 700px; 

}

.equipo-contenedor{
    /*  ponerlo horizontal com flex  */
    display: flex;

    /*  ponerlo que se vayan hacia abajo  */
    flex-wrap: wrap;

    justify-content: center;

    /* espacio entre tarjetas  */
    gap: 40px;

    margin-top: 20px;
}

.equipo-card{
    border: 4px solid #000000;
    background-color: #ffffff;
    width: 280px;
    padding: 60px 20px 30px ;
    box-shadow: 6px 6px 0px #6d6d6d;
    text-align: center;
    /* /* flexbox interno de la tarjeta  */
    display: flex;
    /* /* no quiero que esté como row por default, sino como column  */
    flex-direction: column;
    /* /* centrarlo de forma interna tmb  */
    align-items: center;

    /* /* esto es para hacer el circulito arriba, el padre debe ser relative  */
    position: relative;
    margin-top:100px
}
.equipo-card:hover{
    transform: translate(-5px,-5px);
    transition: .25s ease;
    box-shadow: 6px 6px 0px #e60012;
}
.equipo-foto{
    
    width: 140px;
    height: 140px;
    /* /* para no deformar la imagen:  */
    object-fit: contain;

    /* /* hacerla circular  */
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);

    /* /* esto para moverlo arriba  */
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);

}

.equipo-nombre{
    font-size: 19px;
    margin-top: 15px;
    color: #2D3436;
}

.equipo-ubicacion{
    font-size: 19px;
    margin: 10px;
}

.equipo-rol{
    margin-bottom: 1rem;
    color: #940410;
    font-style: italic;
}

.equipo-boton{
    cursor: pointer;
    background-color: #940410;
    border: 2px solid black;
    color: white;
    width: 100%;
    padding: 10px 0;
    font-size: medium;
    font-weight: bold;
    margin: 12px 0 12px 0;
    text-decoration: none;
}
.equipo-boton:hover{
    transform: translate(-2px,-2px);
    transition: .25s ease;
    background-color: #000000;
}

/* Tal vez deberia de borrarlo pero lo quiero dejar como notas para el futuro :( 

.equipo-section{
    text-align: center;
    padding: 40px 25px;
}
.equipo-section h2{
    margin-bottom: 15px;
}
.equipo-section p{
    margin: 0 auto 20px;
    /* poner maximo de texto con max-width 
    max-width: 700px; 

}

.equipo-contenedor{
    /* ponerlo horizontal com flex 
    display: flex;

    /* ponerlo que se vayan hacia abajo 
    flex-wrap: wrap;

    justify-content: center;

    /* espacio entre tarjetas 
    gap: 40px;

    margin-top: 20px;
}

.equipo-card{
    border: 4px solid #000000;
    background-color: #ffffff;
    width: 280px;
    padding: 60px 20px 30px ;
    box-shadow: 6px 6px 0px #6d6d6d;
    text-align: center;
    /* flexbox interno de la tarjeta 
    display: flex;
    /* no quiero que esté como row por default, sino como column 
    flex-direction: column;
    /* centrarlo de forma interna tmb 
    align-items: center;

    /* esto es para hacer el circulito arriba, el padre debe ser relative 
    position: relative;
    margin-top:100px
}
.equipo-card:hover{
    box-shadow: 7px 12px 0px #bbbb00;
    transform: translate(-2px,-2px);
    transition: .35s ease;

}

.equipo-foto{

    width: 140px;
    height: 140px;
    /* para no deformar la imagen: 
    object-fit: cover;

    /* hacerla circular 
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0);

    /* esto para moverlo arriba 
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.equipo-titulo{
    margin-top: 15px;
    color: #2D3436;
    font-size: 19px;
}

.equipo-rol{
    font-size: 14px;
    color: #2d3436;
    margin: 5px;
}


.equipo-descripcion{
    font-size: 14px;
    color: #000000;
    margin: 5px;
    line-height: 1;

} */



/* botón flotante posicion fixed */

.boton-carrito{
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: rgb(37, 116, 116);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    
    /* transition para el hover */
    transition: .2s ease;

    bottom: 13px;
    right: 25px;
    position: fixed;

    /* se pone el z index para que se pueda visualizar FRENTE DE TOD */
    z-index: 1500;
    cursor: pointer;
}
.boton-carrito:hover{
    background-color: rgb(28, 90, 90);

}

.boton-subir{
    width: 50px;
    height: 50px;
    background-color: rgb(37, 116, 116);
    display: block;
    border-radius: 30px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.25);
    transition: .2s;
    bottom: 13px;
    left: 25px;
    z-index: 1500;
    position: fixed;
    cursor: pointer;
}

.boton-subir:hover{
    background-color: rgb(28, 90, 90);

}

#img-boton-subir{
    width: 80%;
    height: 80%;
    margin-left: 5px;
    margin-top: 2px;
    object-fit: cover;
}



/* Parte de contacto o formulario */

#contacto{
    display: flex;
    gap:20px;
    align-items: flex-start;
    flex-wrap: wrap;

    border-radius: 30px;
    padding-left: 100px;
    padding-bottom: 20px;

}


.contacto-info{
    margin-bottom: 30px;
}
/* el flex-grow en 1 y flex shrin en 1, flex basis en 270px
en todo caso, 1 es q crezca normal o se encoja normal, entonces 1 - 1 es
para que crezcan y se encojan de igual forma los elementos
*/
.contacto-info,
.contacto-form-div{
    flex: 1 1 280px;
}




.contacto-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    background-color: #2D3436;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.contacto-form input {
    height: 40px;
    width: 320px;
    border-radius: 15px;
    border: none;
    padding: 10px;
}
#solicitud{
    width: 320px;
    height: 90px;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

.contacto-form button{
    height: 40px;
    width: 320px;
    border-radius: 90px;
    background-color: #6C5CE7;
    border: none;
    color: white;
    
}
.contacto-form button:hover{
    background-color: #6d4c41
}




/* pie de pagina */
footer{
    background-color: #2d3436;
    color: #FEFEFE;
    padding: 25px 20px;
}
/* lista y enlaces de footer */
.footer-lista{
    list-style-type: none;
    font-size: 16px;
}

.footer-lista a{
    text-decoration: none;
    color: #FEFEFE;
    transition: .25s;
}

.footer-lista a:hover{
    color: #6C5CE7;
    
}

#footer-copyright{
    text-align: center;
    font-size: 18px;
}



/* el diseño responsivo: va al final x lo general */

/* laptop mediana */
@media screen and (max-width:1024px) {
    #navegacion{
        padding: 12px 16px;
    }
    .producto-tarjeta{
        /* se vea mas grande la tarjeta */
        flex: 1 1 260px;
    }
    .equipo-card{
        /* lo hago mas pequeño para que se vea bien */
        width: 260px;
    }
}

@media screen and (max-width:768px) {
    /* hacer u npoco mas grande el banner */
    .top-banner{
        font-size: 18px;
        padding: 8px 12px;
    }
    /* se pone en medio para que quepa mejor */
    #navegacion{
        justify-content: center;
        gap:12px;
        padding: 12px 14px;
    }
    
    #logo{
        width: 30%;
    }

    /* se pase hacia abajo la lista */
    .navegacion-lista{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap:12px 16px;
        font-size: 18px;

    }
    .producto-precios-div{
        flex-wrap: wrap;
    }
    .producto-btn{
        padding-top: 16px;
        padding-bottom: 16px;
    }
    #contacto{
        padding-left: 0;
    }
    #footer{
        padding-bottom: 80px;
    }

}
