/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top-banner{
    background-color: #b6c8ff;
    text-align: center;
    padding: 6px 10px;
    font-size: 14px;
    color: #6d4c41;
}

#navegacion{ 
    padding: 25px 35px;
    background-color: #2D3436;
    color: #FEFEFE;
    margin: 0 auto; /*revisar esto*/
    position: sticky; 
    /* ya no static, ya es stickuy */
    top: 0;/*queremos que se quede pegado en la parte de arriba, le ponemos top 0 porque 0 es el elemento padre*/
    z-index: 1000; 
    /* El z-index se pone lo mas alto posible para qu NADA se superponga al nav */
    
    /* Agregando flexbox */
    /* como es contenedor padre de toda nuestra barra de navegacion haecmos */
    display: flex;
    /* quiero que el contenedor se vuelva flexible, las cosas como el h1 o el li ahora se van hacia la derecha */
    justify-content: space-between; /*alineacion eje principal (horizontal)*/
    align-items: center;/*alineacion eje cruzado (vert)*/
    flex-wrap: wrap; /*permite salto de linea para pantallas pequeñas*/
}



.navegacion-lista{
    list-style-type: none;
    /* vuelvo flexible al contenedor padre */
    display: flex; 
    gap: 20px;
    align-items: center;

}


li a{
    color: #FEFEFE;
    
}

li a:hover{
    color: #6C5CE7
}


body{
    /* Fuente de google fonts que puse en HTML */
    font-family: "Open Sans", sans-serif;
    background-color: #F4F6F8;
}

/* Espaciado para que no quede todo junto */
section{
    margin: 25px 20px;
}

.producto-tarjeta{
    width: 270px;
    background-color:darkgrey;
    border-radius: 20px;
    text-align: center;
    margin:35px;
    display: inline-block;
    /* Se pone position relative para que la badge absoluta se meta adentro */
    position: relative;

    flex: 1 1 240px;
    /* ocupa minimo 240px en lo que pueda encoger o crecer */
}
.producto-tarjeta:hover{
    transform: translateY(-10px);
    transition: 0.7s;
}

.catalogo-contenedor{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.producto-img{
    /* creo que esto es para que tome todo 
    el tamaño de la tarjeta */
    width: 100%; 
    height: 200px;
    padding-top: 30px;

    /* object-fit solo es para imagenes
    
    cover:va a cubrir toda la cubierta sin importar de que este
    lo corta */
    object-fit: contain;
    
}

.producto-titulo{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.producto-info{
    font-size: 14px;
    color: blueviolet;
}

.producto-precio{
    color: #6C5CE7;
    font-weight: bold;
}

.producto-btn{
    background-color: green;
    color: whitesmoke;
    border: none;
    /* aqui si es recomendable poner un padding pq
    no tiene mucho espacio  */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    
    
    
    /* esto es para que el hover se vea un 
    poquito más lento de animación */
    transition:0.3s; 

}

.producto-btn:hover{
    background-color: #6C5CE7;
}


.producto-badge{
    position: absolute;
    background-color: red;
    top: 10px;
    left: 10px;
    padding: 5px 12px;
    border-radius: 15px;
    color: white;
}

/* botón flotante posicion fixed */

.boton-carrito{
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: rgb(37, 116, 116);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    
    /* transition para el hover */
    transition: .2s ease;

    bottom: 25px;
    right: 25px;
    position: fixed;

    /* se pone el z index para que se pueda visualizar FRENTE DE TOD */
    z-index: 1500;
}



.contacto-info{
    margin-bottom: 30px;
}


#contacto{
    display: flex;
    gap:20px;
    align-items: flex-start;
    flex-wrap: wrap;

    border-radius: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
    background-color: #2D3436;
    color: white;
}



.contacto-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacto-form input{
    height: 90px;
    width: 350px;
}

.contacto-form button{
    height: 40px;
    border-radius: 90px;
    background-color: #6C5CE7;
    border: none;
    color: white;
    
}
.contacto-form button:hover{
    background-color: #6d4c41
}


footer{
    background-color: #2d3436;
    color: #FEFEFE;
    padding: 25px 20px;
}
