/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{ 
    padding: 25px 35px;
    background-color: #2D3436;
    color: #FEFEFE;

    
}

li a{
    color: #FEFEFE;
    
}

li a:hover{
    color: #6C5CE7
}

#navegacion li{
    margin-top: 5px;
    margin-left: 15px;
    list-style-type: none;
}

body{
    /* Fuente de google fonts que puse en HTML */
    font-family: "Open Sans", sans-serif;
    background-color: #F4F6F8;
}

.producto-tarjeta{
    width: 270px;
    background-color:darkgrey;
    border-radius: 20px;
    text-align: center;
    margin:35px;
    display: inline-block;
}
.producto-tarjeta:hover{
    transform: translateY(-10px);
    transition: 0.7s;
}


/* Espaciado para que no quede todo junto */
section{
    margin: 25px 20px;
}


.producto-img{
    /* creo que esto es para que tome todo 
    el tamaño de la tarjeta */
    width: 100%; 
    height: 200px;
    padding-top: 30px;

    /* object-fit solo es para imagenes
    
    cover:va a cubrir toda la cubierta sin importar de que este
    lo corta */
    object-fit: contain;
    
}

.producto-titulo{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.producto-info{
    font-size: 14px;
    color: blueviolet;
}

.producto-precio{
    color: #6C5CE7;
    font-weight: bold;
}

.producto-btn{
    background-color: green;
    color: whitesmoke;
    border: none;
    /* aqui si es recomendable poner un padding pq
    no tiene mucho espacio  */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    
    
    
    /* esto es para que el hover se vea un 
    poquito más lento de animación */
    transition:0.3s; 

}

.producto-btn:hover{
    background-color: #6C5CE7;
}




#contacto{
    border-radius: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
    background-color: #2D3436;
    color: white;
}

.contacto-info{
    margin-bottom: 30px;
}

footer{
    background-color: #2d3436;
    color: #FEFEFE;

}
